* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 100%;
  height: 118px;
  background: rgba(208,173,133,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 5px;
  overflow: hidden;
}
.v1_14 {
  width: 182px;
  height: 97px;
  background: rgba(240,200,153,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 5px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v1_15 {
  width: 281px;
  height: 97px;
  background: rgba(240,200,153,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 94px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v2_13 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 149px;
  font-family: Comic Neue;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v1_21 {
  width: 282px;
  height: 120px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 210px;
  overflow: hidden;
}
.v1_23 {
  width: 585px;
  height: 120px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 5px;
  overflow: hidden;
}
.v1_24 {
  width: 287px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v1_25 {
  width: 585px;
  height: 279px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 307px;
  overflow: hidden;
}
.v1_9 {
  width: 100%;
  height: 63px;
  background: rgba(208,173,133,1);
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 5px;
  overflow: hidden;
}
.v1_6 {
  width: 887px;
  height: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 5px;
  overflow: hidden;
}
.v1_16 {
  width: 282px;
  height: 105px;
  background: rgba(240,233,86,0.8199999928474426);
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 210px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v1_18 {
  width: 585px;
  height: 112px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 5px;
  overflow: hidden;
}
.v2_16 {
  width: 584px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 195px;
  left: 11px;
  font-family: Comic Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_11 {
  width: 281px;
  height: 164px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 93px;
  overflow: hidden;
}
.v1_7 {
  width: 892px;
  height: 314px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 0px;
  overflow: hidden;
}
.v1_10 {
  width: 281px;
  height: 314px;
  background: url("../images/v1_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 93px;
  overflow: hidden;
}
.v1_13 {
  float: right;
  width: 685px;
  height: 96px;
  background: rgba(240,200,153,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 207px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_26 {
  float: left;
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 17px;
  font-family: Comic Neue;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v2_12 {
  float: center;
  width: 603px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 44px;
  left: 264px;
  font-family: Comic Neue;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.v2_17 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 212px;
  left: 176px;
  font-family: Comic Neue;
  font-weight: Bold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_2 {
  width: 281px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 3px;
  font-family: Comic Neue;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v3_3 {
  width: 585px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 307px;
  font-family: Comic Neue;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v3_5 {
  float: center;
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 718px;
  left: 356px;
  font-family: Comic Neue;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
